{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css_dir/styles.cal.css' %}">
</head>
<body>
    <h1>Calculadora</h1>
    <form method="post" action="{% url 'cal' %}">
        {% csrf_token %}
        <label for="numero">Ingrese el número:</label>
        <input type="number" name="numero" required>
        <button type="submit">Calcular</button>
    </form>

    {% if resultado %}
        <p class="res">Resultado: {{ resultado }}</p>
    {% endif %}
</body>
</html>
