<!-- resultado.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Generación de Contraseñas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css_dir/estiloResultado.css' %}">
</head>
<body>

<div class="container">
    <h2>Resultado de la Generación de Contraseña.</h2>
    <h2>Contraseña generada:</h2>
    <p class="password">{{ contraseña_generada }}</p>
    <a href="{% url 'mi_vista' %}" class="volver">Volver al generador</a>
</div>

</body>
</html>
